<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content">
      <a routerLink="/consultar/utilidades/notificar"
         class="nav-link nav-text"
         routerLinkActive="active">
        Notificar
      </a>
      <a routerLink="/consultar/utilidades/generador"
         class="nav-link nav-text"
         routerLinkActive="active">
        Generar
      </a>
    </section>
  </nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>