<div class="clr-row">
  <div class="clr-col-12">
    <div class="archivo-no-cargado"
         *ngIf="archivoCargado && !convirtiendo">
      <clr-datagrid *ngIf="data.length > 0"
                    [(clrDgSelected)]="partSel">
        <clr-dg-action-bar>
          <div class="btn-group btn-secundary btn-sm">
            <button type="button"
                    class="btn"
                    (click)="descargarCSV()"
                    *ngIf="partSel.length > 0">
              <clr-icon shape="download"></clr-icon> Descargar archivo de carga
            </button>
          </div>
        </clr-dg-action-bar>
        <ng-container *ngFor="let campo of campos; index as i">
          <clr-dg-column *ngIf="siCurso(campo)"
                         [clrDgField]="campo">
            {{campo}}
          </clr-dg-column>
        </ng-container>
        <clr-dg-row *clrDgItems="let usuario of data; index as fil"
                    [clrDgItem]="usuario">
          <ng-container *ngFor="let campo of campos; index as col">
            <clr-dg-cell *ngIf="siCurso(campo)">
              <clr-signpost *ngIf="!campoNoEdit.includes(col) else noEditable">
                <span class="editable"
                      clrSignpostTrigger>
                  {{usuario[campo]}}
                </span>
                <clr-signpost-content [clrPosition]="fil < pagination.lastItem - 1 ? 'bottom-middle' : 'top-middle'"
                                      *clrIfOpen>
                  <textarea clrTextarea
                            *ngIf="campoArea.includes(col)"
                            (change)="editaCampoOrigen(fil, col)"
                            [(ngModel)]="usuario[campo]">
                  </textarea>
                  <input clrInput
                         type="email"
                         *ngIf="campoEmail.includes(col)"
                         (change)="editaCampoOrigen(fil, col)"
                         [(ngModel)]="usuario[campo]">
                  <select clrSelect
                          *ngIf="campoCurso.includes(col)"
                          [(ngModel)]="usuario[campo]">
                    <option *ngFor="let curso of listaCursos"
                            [value]="curso.corto">
                      {{curso.comun}}
                    </option>
                  </select>
                  <clr-datalist-container *ngIf="campoPais.includes(col)">
                    <input clrDatalistInput
                           [(ngModel)]="usuario[campo]">
                    <datalist>
                      <option *ngFor="let pais of listaPaises"
                              [value]="pais.codigo">
                        {{pais.nombre}}
                      </option>
                    </datalist>
                  </clr-datalist-container>
                  <input clrInput
                         type="number"
                         *ngIf="campoNum.includes(col)"
                         [(ngModel)]="usuario[campo]">
                  <clr-date-container *ngIf="campoFecha.includes(col)">
                    <input type="date"
                           clrDate
                           [(ngModel)]="usuario[campo]">
                  </clr-date-container>
                </clr-signpost-content>
              </clr-signpost>
              <ng-template #noEditable>
                <span class="no-editable">
                  {{usuario[campo]}}
                </span>
              </ng-template>
            </clr-dg-cell>
          </ng-container>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination
                             [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100,200]">Registros por página
            </clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}}
            registros
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
    <div class="archivo-cargado"
         *ngIf="!archivoCargado && !convirtiendo">
      <div class="dragdrop"
           (fileDropped)="sueltaArchivo($event)"
           (click)="inputFile.click()"
           appDragDropFile>
        <div class="icono">
          <clr-icon size="72"
                    shape="upload"></clr-icon>
        </div>
        <div class="texto">
          Arrastre y suelte en esta zona el archivo Excel de carga de participantes.
        </div>
        <input #inputFile
               (change)="sueltaArchivo($any($event).target.files[0])"
               hidden
               accept="text/csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               type="file">
      </div>
    </div>
    <div class="convirtiendo"
         *ngIf="convirtiendo">
      <clr-spinner>
        Convirtiendo...
      </clr-spinner>
    </div>
  </div>
</div>