<div class="clr-row">
  <div class="clr-col-12">
    <div class="archivo-no-cargado"
         *ngIf="archivoCargado && !convirtiendo">
      {{data | json}}
    </div>
    <div class="archivo-cargado"
         *ngIf="!archivoCargado && !convirtiendo">
      <div class="dragdrop"
           (fileDropped)="sueltaArchivo($event)"
           (click)="inputFile.click()"
           appDragDropFile>
        <div class="icono">
          <clr-icon size="72"
                    shape="upload"></clr-icon>
        </div>
        <div class="texto">
          Arrastre y suelte en esta zona el archivo Excel de carga de participantes.
        </div>
        <input #inputFile
               (change)="sueltaArchivo($any($event).target.files[0])"
               hidden
               accept="text/csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               type="file">
      </div>
    </div>
    <div class="convirtiendo"
         *ngIf="convirtiendo">
      <clr-spinner>
        Convirtiendo...
      </clr-spinner>
    </div>
  </div>
</div>