<header class="header">
    <div class="branding">
        <a routerLink="/consultar"
           class="nav-link">
            <img src="assets/img/acg_logo.png"
                 alt="">
            <span>Herramientas ACG</span>
        </a>
    </div>
    <div class="header-nav"
         *ngIf="sesionActiva && sesionActiva.admin">
        <a routerLink="/consultar/descargar"
           class="nav-link nav-text"
           routerLinkActive="active">
            Descargar certificados
        </a>
        <a routerLink="/consultar/generar"
           class="nav-link nav-text"
           routerLinkActive="active">
            Generar certificados
        </a>
        <a routerLink="/consultar/utilidades"
           class="nav-link nav-text"
           routerLinkActive="active">
            Utilidades
        </a>
    </div>
    <!--div class="header-actions"
         *ngIf="sesionActiva">
        <a routerLink="/consultar"
           class="nav-link nav-icon"
           (click)="logout()">
            <clr-icon shape="logout"></clr-icon>
        </a>
    </div-->
</header>
<!-- SESION ACTIVA: {{sesionActiva | json}} -->
<!-- <app-login *ngIf="!sesionActiva"></app-login> -->
<router-outlet *ngIf="sesionActiva"></router-outlet>